
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/FCC-Music-Player/v17/DocumentLayout.json
.vs/FCC-Music-Player/v17/.wsuo
.vs/FCC-Music-Player/FileContentIndex/8ac118d6-1ed1-4cf2-9fd6-8434e8c83838.vsidx
